* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
.content {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #222222;
    font-family: "nunito sans", sans-serif;
  }
  
#heading {
  font: size 30px;
  align-items:center;
  }

.navBar {
  position: fixed;
  bottom: 0;
  width: 100%;  
  display: flex;
  justify-content: space-evenly;
}