* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .content {
    padding: 0;
    margin: 0;
    background-color: #bbbdf6;
    text-align: center;
    font-family: "nunito sans", sans-serif;
  }
  