@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #0e0e0e;
    box-sizing: border-box;

}

.email {
    color: #f6f7fb
}

.password {
    color: #f6f7fb
}

.remeber {
    color: #2DA7FF;
}

.forgot {}

.create {
    color: #2DA7FF
}

.login {
    color: #f6f7fb
}