* {
    background-color: #0E0E0E;
    color: #f6f7fb;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;  
    display: flex;
    justify-content: space-evenly;
}

.home {
    display: flex;
    flex-direction: column;
    max-height: 1rem;
}

.settings {
    display: flex;
    flex-direction: column;
    max-height: 1rem;
}

.scenes {
    display: flex;
    flex-direction: column;
    max-height: 1rem;
} 